html
  head
    title CLICK & RUN
  script(src='https://cdn.socket.io/socket.io-1.4.5.js', type='text/javascript')
  script(src='//code.jquery.com/jquery-1.12.0.min.js')
  script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
  link(rel='stylesheet', href='/statique/pages/jeuxmulti/css/jeux.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
  script(src='/statique/pages/jeuxmulti//js/jeux.js', type='text/javascript')
  body
    #start
      #ready READY
      p#login= data[0].login
      p Attendez d'autres joueurs (vous verrez leurs persos s'afficher au dessous du votre), cliquez sur prêt, qd tout le monde sera prêt, la partie débutera!
      p La régle est simple, cliquez sur le signe "avance rapide", à chaque clique votre personnage avance, le premier à atteindre la ligne d'arrivée sera le vainqueur.
      #players
    #bloc
      #divClick
        span.glyphicon.glyphicon-forward(aria-hidden='true')
      #win
      #fin
        p#end GAME OVER
        p#winner
        p#retourProfil
          a(href="/jeuxmulti/profil") Retour à la page de mon profil
      #trois 3
      #deux 2
      #un 1
      #go GO
